main {
  min-height: 500px;
}

.text-body2{
  font-size: 25px;
}

.green-gradient{
  background: rgb(106,193,126);
  background: linear-gradient(180deg, rgba(106,193,126,1) 0%, rgba(195,228,203,1) 100%);
}