main {
  min-height: 500px;
  background-color: white;
  margin-bottom: 70px;
  font-size: 14px;
  border: 1px solid lightseagreen;
  border-radius: 10px;

}

body{
  background: rgb(255,255,255);
  background: radial-gradient(circle, rgba(255,255,255,1) 0%, rgba(137,187,103,1) 100%);
  font-family: 'Nunito', sans-serif;
}

footer{
  h3{
    font-size: 16px!important;
    font-weight: bolder;
  }
  p,ul,a{
    font-size: 12px;
  }
}

.verticalLine {
  border-left: 1px solid #28a745;
}

h1{
  font-size: 25px!important;
}

h2{
  font-size: 20px!important;
}

h3{
  font-size: 18px!important;
}

@media (min-width: 750px) {
  .container-sm{
    width: 65%!important;
  }
}

.bg-green{
  background-color: #89bb67;
}

.bg-lightgreen{
  background-color: lightseagreen;
}

.hotel-name{
  font-family: 'Dancing Script', cursive;
  font-size: 30px!important;
}

.text-green{
  color: #96C277;
}

.border-green{
  border: 1px solid lightseagreen;
}

.bg-grey{
  color: #495057;
  background-color: #e9ecef;
  border-color: #dee2e6;
}



.overlay{
  width: 100%;
  background: darkslategrey;
  opacity: 0.8;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  transform: scale(0);
}

.content{
  text-align: center;
  position: relative;
  top: 15%;
  margin-top: 4%;
  padding-left: 100px;
  padding-right: 100px;
}

.overlay p{
  color: #fff;
  display: block;
  font-size: 30px;
  text-shadow:  2px 1px black;
  margin-bottom: 2%;
}

.overlay #closeHelp{
  position: absolute;
  right: 30px;
  top: 30px;
  font-size: 60px;
}

#openHelp{
  cursor: pointer;
}